@model MyFood.Models.Employee

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>إضافة مستخدم جديد</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            @Html.LabelFor(model => model.Emp_id,  new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Emp_id, new {  @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.Emp_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Emp_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Emp_name, new {  @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Emp_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mobile,  new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.mobile, new {  @class = "form-control" })
                @Html.ValidationMessageFor(model => model.mobile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.role_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("role_id", null, "اختر الصلاحية...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.role_id, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="إضافة" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("الرجوع إلى القائمة", "Index")
</div>
