@model MyFood.Models.Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>التفاصيل</h2>

<div class="row profile-user-info">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Emp_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Emp_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.mobile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mobile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmpRole.role_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpRole.role_name)
        </dd>
    </dl>
    
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.Emp_id }) |
    @Html.ActionLink("الرجوع إلى القائمة", "Index")
</p>
