@model IEnumerable<MyFood.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>الموظفون</h2>

<p>
    @Html.ActionLink("إضافة موظف جديد", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Emp_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpRole.role_name)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpRole.role_name)
        </td>
        
        <td>
            @Html.ActionLink("تعديل", "Edit", new { id=item.Emp_id }) |
            @Html.ActionLink("تفاصيل", "Details", new { id=item.Emp_id }) @*|
            @Html.ActionLink("Delete", "Delete", new { id=item.Emp_id })*@
        </td>
    </tr>
}

</table>
