@model MyFood.Models.ViewModelForm3
@{
    ViewBag.Title = "FoodReceiptReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2> تقرير صحة وسلامة استلام الطعام</h2>

@using (Html.BeginForm("FoodReceiptReport", "Order", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <br />

    <div class="container-sm">
        <div class="row">
            <div class="col-sm-2">
                @Html.LabelFor(model => model.car_num)
                @Html.TextBoxFor(model => model.car_num, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.car_num, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(model => model.staff_num)
                @Html.TextBoxFor(model => model.staff_num, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.staff_num, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(model => model.date)
                @Html.EditorFor(m => m.date, new { htmlAttributes = new { @class = "form-control",
               @type = "date", data_val_date = "صيغة التاريخ غير صحيحة" }})
                @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(model => model.day)
                @Html.TextBoxFor(model => model.day, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.day, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <hr />

    <div class="container-sm">
        <div class="row">
            <div class="col-sm-2">
                @Html.Label("صحة وسلامة العاملين:")<br />
                @Html.CheckBoxFor(m => m.healthy) سليم
                @Html.CheckBoxFor(m => m.not_healthy) غير سليم
            </div>
            <div class="col-sm-2">
                @Html.Label(" يذكر نوع الحالة:")
                @Html.TextBoxFor(model => model.NotHealthy.nothealthy_type_name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NotHealthy.nothealthy_type_name, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm">
                @Html.Label("في حالة وجود حالة غير صحية يسجل اسم العامل:")
            </div>
            <div class="col-sm-2">
                @Html.TextBoxFor(model => model.NotHealthy.Employee1_name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NotHealthy.Employee1_name, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-2">
                @Html.TextBoxFor(model => model.NotHealthy.Employee2_name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NotHealthy.Employee2_name, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <hr />

    <style>
        .cs {
            transform: rotate(90deg);
        }
    </style>

    <div class="container-sm">
        @Html.Label("مدى تقيد العاملين بلبس ادوات الصحة والسلامة")
        <div><a href="#" id="addNew">إضافة حقل جديد</a></div>
        <table id="dataTable" @*border="0"*@>
            <tr class="row-cols-2">
                <th>@Html.LabelFor(model => model.SafetyToolNav.staff_name)</th>
                <th>@Html.LabelFor(model => model.SafetyToolNav.clothing)</th>
                <th>@Html.LabelFor(model => model.SafetyToolNav.hair)</th>
                <th>@Html.LabelFor(model => model.SafetyToolNav.nails)</th>
                <th>@Html.LabelFor(model => model.SafetyToolNav.clothing_claean)</th>
                <th>@Html.LabelFor(model => model.SafetyToolNav.head_cover)</th>
                <th>@Html.LabelFor(model => model.SafetyToolNav.face_mask)</th>
                <th>@Html.LabelFor(model => model.SafetyToolNav.gloves)</th>
                <th>@Html.LabelFor(model => model.SafetyToolNav.note)</th>
                @*<th></th>*@
            </tr>
            @if (Model != null && Model.safetyTool.Count > 0)
            {
                int j = 0;
                foreach (var i in Model.safetyTool)
                {
                    <tr class="text-center">
                        <td>@Html.TextBoxFor(a => a.safetyTool[j].staff_name, new { @class = "form-control col-xs-2" })</td>
                        <td>@Html.CheckBoxFor(a => a.safetyTool[j].clothing)</td>
                        <td>@Html.CheckBoxFor(a => a.safetyTool[j].hair)</td>
                        <td>@Html.CheckBoxFor(a => a.safetyTool[j].nails)</td>
                        <td>@Html.CheckBoxFor(a => a.safetyTool[j].clothing_claean)</td>
                        <td>@Html.CheckBoxFor(a => a.safetyTool[j].head_cover)</td>
                        <td>@Html.CheckBoxFor(a => a.safetyTool[j].face_mask)</td>
                        <td>@Html.CheckBoxFor(a => a.safetyTool[j].gloves)</td>
                        <td>@Html.TextBoxFor(a => a.safetyTool[j].note, new { @class = "form-control col-xs-2" })</td>
                        @*<td>
                                @if (j > 0)
                                {
                                    <a href="#" class="remove">Remove</a>
                                }
                            </td>*@

                    </tr>
                    j++;
                }
            }
        </table>

    </div>

    <hr />

    <div>
        @Html.Label("نوع الطعام")
    </div>
    <table class="table-condensed">

        <tr>
            <td>
                @Html.CheckBoxFor(model => model.FoodType.rice)
            </td>
            <td>
                @Html.LabelFor(model => model.FoodType.rice)
            </td>
            <td>
                @Html.CheckBoxFor(model => model.FoodType.water)
            </td>
            <td>
                @Html.LabelFor(model => model.FoodType.water)
            </td>
            <td>
                @Html.CheckBoxFor(model => model.FoodType.chicken)
            </td>
            <td>
                @Html.LabelFor(model => model.FoodType.chicken)
            </td>
            <td>
                @Html.CheckBoxFor(model => model.FoodType.soup)
            </td>
            <td>
                @Html.LabelFor(model => model.FoodType.soup)
            </td>
            <td>
                @Html.CheckBoxFor(model => model.FoodType.meat)
            </td>
            <td>
                @Html.LabelFor(model => model.FoodType.meat)
            </td>
            <td>
                @Html.CheckBoxFor(model => model.FoodType.pies)
            </td>
            <td>
                @Html.LabelFor(model => model.FoodType.pies)
            </td>
            <td>
                @Html.CheckBoxFor(model => model.FoodType.dates)
            </td>
            <td>
                @Html.LabelFor(model => model.FoodType.dates)
            </td>
            <td>
                @Html.CheckBoxFor(model => model.FoodType.bread)
            </td>
            <td>
                @Html.LabelFor(model => model.FoodType.bread)
            </td>
        </tr>

        <tr>

            <td>
                @Html.CheckBoxFor(model => model.FoodType.fruit)
            </td>
            <td>
                @Html.LabelFor(model => model.FoodType.fruit)
            </td>
            <td>
                @Html.CheckBoxFor(model => model.FoodType.dessert)
            </td>
            <td>
                @Html.LabelFor(model => model.FoodType.dessert)
            </td>
            <td>
                @Html.CheckBoxFor(model => model.FoodType.gursan)
            </td>
            <td>
                @Html.LabelFor(model => model.FoodType.gursan)
            </td>
            <td>
                @Html.CheckBoxFor(model => model.FoodType.groats)
            </td>
            <td>
                @Html.LabelFor(model => model.FoodType.groats)
            </td>
            <td>
                @Html.CheckBoxFor(model => model.FoodType.pasta)
            </td>
            <td>
                @Html.LabelFor(model => model.FoodType.pasta)
            </td>
            <td>
                @Html.CheckBoxFor(model => model.FoodType.vegetables)
            </td>
            <td>
                @Html.LabelFor(model => model.FoodType.vegetables)
            </td>
            <td>
                @Html.CheckBoxFor(model => model.FoodType.buffet)
            </td>
            <td>
                @Html.LabelFor(model => model.FoodType.buffet)
            </td>
            <td>
                @Html.CheckBoxFor(model => model.FoodType.juices)
            </td>
            <td>
                @Html.LabelFor(model => model.FoodType.juices)
            </td>
        </tr>

    </table>
    <br />

    <div class="container-sm">
        <div class="row">
            <div class="col-sm-2">
                @Html.LabelFor(model => model.cart_num)
                @Html.TextBoxFor(model => model.cart_num, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.cart_num, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(model => model.pot_num)
                @Html.TextBoxFor(model => model.pot_num, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pot_num, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="container-sm">
        <div class="row">
            <div class="col-sm-3">
                @Html.Label("تصنيف الطعام:")<br />
                @Html.CheckBoxFor(model => model.edible) طعام صالح
                @Html.CheckBoxFor(model => model.inedible) طعام غير صالح
            </div>
        </div>
    </div>

    <hr />
    <div class="container-sm">
        <div class="row">
            <div class="col-sm-2">
                @Html.LabelFor(model => model.exit_time)
                @Html.TextBoxFor(model => model.exit_time, new { @class = "form-control", @type = "time" })
                @Html.ValidationMessageFor(model => model.exit_time, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(model => model.arrival_time)
                @Html.TextBoxFor(model => model.arrival_time, new { @class = "form-control", @type = "time" })
                @Html.ValidationMessageFor(model => model.arrival_time, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(model => model.return_time)
                @Html.TextBoxFor(model => model.return_time, new { @class = "form-control", @type = "time" })
                @Html.ValidationMessageFor(model => model.return_time, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.LabelFor(model => model.kilos_exit_time)
                @Html.TextBoxFor(model => model.kilos_exit_time, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.kilos_exit_time, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(model => model.kilos_arrival_time)
                @Html.TextBoxFor(model => model.kilos_arrival_time, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.kilos_arrival_time, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(model => model.kilos_return_time)
                @Html.TextBoxFor(model => model.kilos_return_time, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.kilos_return_time, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <br />
    <div class="container-sm">
        <div class="row">
            <div class=" col-sm-2">
                @Html.Label("ملاحظات")
                @Html.TextBoxFor(model => model.note, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <br />
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="حفظ" />
        </div>
    </div>
}


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script language="javascript">
        $(document).ready(function () {

            //1. Add new row
            $("#addNew").click(function (e) {
                e.preventDefault();
                var $tableBody = $("#dataTable");
                var $trLast = $tableBody.find("tr:last");
                var $trNew = $trLast.clone();

                var suffix = $trNew.find(':input:first').attr('name').match(/\d+/);
                //$trNew.find("td:last").html('<a href="#" class="remove">Remove</a>');
                $.each($trNew.find(':input'), function (i, val) {
                    // Replaced Name
                    var oldN = $(this).attr('name');
                    var newN = oldN.replace('[' + suffix + ']', '[' + (parseInt(suffix) + 1) + ']');
                    $(this).attr('name', newN);
                    //Replaced value
                    var type = $(this).attr('type');
                    if (type.toLowerCase() == "text") {
                        $(this).attr('value', '');
                    }

                    // If you have another Type then replace with default value
                    $(this).removeClass("input-validation-error");

                });
                $trLast.after($trNew);

                // Re-assign Validation
                var form = $("form")
                    .removeData("validator")
                    .removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse(form);
            });

            //// 2. Remove
            //$('a.remove').live("click", function (e) {
            //    e.preventDefault();
            //    $(this).parent().parent().remove();
            //});

        });
    </script>
}