@model MyFood.Models.ViewModelForm4
@{
    ViewBag.Title = "Form4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .mBottom {
        margin-bottom: 100px;
    }

    .m-add-Bottom {
        margin-bottom: 7px;
    }

    table tr td {
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 4px;
    }

    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
        }
            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

            td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
            }
    }
</style>

<br />
<br />
@using (Html.BeginForm("Form4", "Order", FormMethod.Post, new { @class = "form-horizontal green-label form-bg", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h3 class="green-h">إدخال الطعام للصالات وتعبئته</h3>
    <br />

    <div class="form-m-right">

        <div class="row">
            <div class="col-sm-1">
                @Html.LabelFor(model => model.Team_id)
            </div>
            <div class="col-sm-1">
                @Html.LabelFor(model => model.directionSymbol)
            </div>
            <div class="col-sm-1">
                @Html.LabelFor(model => model.categoryId)
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(model => model.unitId)
            </div>
        </div>

        <div class="row gold-label">
            <div class="col-sm-1">
                @Html.DisplayFor(model => model.Team_id, new { @class = "form-control" })
            </div>
            <div class="col-sm-1">
                @Html.DisplayFor(model => model.directionSymbol, new { @class = "form-control" })
            </div>
            <div class="col-sm-1">
                @Html.DisplayFor(model => model.categoryId, new { @class = "form-control" })
            </div>
            <div class="col-sm-2">
                @Html.DisplayFor(model => model.unitId, new { @class = "form-control" })
            </div>
        </div>

    </div>

    <hr />

    <div class="form-m-right">
        @Html.Label("اعضاء الفريق المستلم")
        <br /><br />
        <div class="row">
            <div class="col-sm-2">
                @Html.LabelFor(model => model.team_leader_name)<br />
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(model => model.Emp1)
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(model => model.Emp2)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 gold-label">
                @Html.DisplayFor(model => model.team_leader_name, new { @class = "form-control" })
            </div>
            <div class="col-sm-2">
                @Html.TextBoxFor(model => model.Emp1, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Emp1, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-2">
                @Html.TextBoxFor(model => model.Emp2, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Emp2, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

    <hr />
    <div class="form-m-right">
        @Html.Label("بيانات التعبئة")
        <br /><br />
        <div class="row">
            <div class="col-sm-2">
                @Html.LabelFor(model => model.mealCategory_id)
                @Html.DropDownListFor(model => model.mealCategory_id,
               new SelectList(Model.mealCategoryIE, "mealCategory_id", "mealCategory_name")
               , "اختر فئة الوجبات...", new { @class = "form-control" })
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(model => model.meal_num)
                @Html.TextBoxFor(model => model.meal_num, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.meal_num, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(model => model.meal_weight)
                @Html.TextBoxFor(model => model.meal_weight, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.meal_weight, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-2">
                @Html.LabelFor(model => model.sample_num)
                @Html.TextBoxFor(model => model.sample_num, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.sample_num, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(model => model.packing_date)
                @Html.EditorFor(m => m.packing_date, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control",
               placeholder = "01-01-2021"
                    }
                })
                @Html.ValidationMessageFor(model => model.packing_date, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(model => model.day)
                @Html.TextBoxFor(model => model.day, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.day, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <hr />

    <style>
        .cs {
            transform: rotate(90deg);
        }
    </style>

    <div class="form-m-right">
        @Html.Label("مدى تقيد العاملين بلبس ادوات الصحة والسلامة")
        <br />
        <table id="dataTable" @*border="0"*@>

            @if (Model != null && Model.safetyTool.Count > 0)
            {
                int j = 0;
                foreach (var i in Model.safetyTool)
                {
                    <tr class="ml-4">
                        <th>@Html.LabelFor(model => model.SafetyToolNav.staff_name)</th>
                        <td>@Html.TextBoxFor(a => a.safetyTool[j].staff_name, new { @class = "form-control" })</td>

                        <th>@Html.LabelFor(model => model.SafetyToolNav.clothing)</th>
                        <td>@Html.CheckBoxFor(a => a.safetyTool[j].clothing)</td>

                        <th>@Html.LabelFor(model => model.SafetyToolNav.hair)</th>
                        <td>@Html.CheckBoxFor(a => a.safetyTool[j].hair)</td>

                        <th>@Html.LabelFor(model => model.SafetyToolNav.nails)</th>
                        <td>@Html.CheckBoxFor(a => a.safetyTool[j].nails)</td>

                        <th>@Html.LabelFor(model => model.SafetyToolNav.clothing_claean)</th>
                        <td>@Html.CheckBoxFor(a => a.safetyTool[j].clothing_claean)</td>

                        <th>@Html.LabelFor(model => model.SafetyToolNav.head_cover)</th>
                        <td>@Html.CheckBoxFor(a => a.safetyTool[j].head_cover)</td>

                        <th>@Html.LabelFor(model => model.SafetyToolNav.face_mask)</th>
                        <td>@Html.CheckBoxFor(a => a.safetyTool[j].face_mask)</td>

                        <th>@Html.LabelFor(model => model.SafetyToolNav.gloves)</th>
                        <td>@Html.CheckBoxFor(a => a.safetyTool[j].gloves)</td>

                        <th>@Html.LabelFor(model => model.SafetyToolNav.note)</th>
                        <td>@Html.TextBoxFor(a => a.safetyTool[j].note, new { @class = "form-control" })</td>
                        @*<td>
                                @if (j > 0)
                                {
                                    <a href="#" class="remove">Remove</a>
                                }
                            </td>*@

                    </tr>
                    j++;
                }
            }
        </table>
        <div class="m-add-Bottom"><a href="#" id="addNew" class="gold-link">إضافة حقل جديد</a></div>
    </div>

    <hr />

    <div class="col-md-offset-5 container-sm btn-loign">
        <div>
            <input type="submit" class="btn-gold" value="حفظ" />
        </div>
    </div>
}


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script language="javascript">
        $(document).ready(function () {

            //1. Add new row
            $("#addNew").click(function (e) {
                e.preventDefault();
                var $tableBody = $("#dataTable");
                var $trLast = $tableBody.find("tr:last");
                var $trNew = $trLast.clone();

                var suffix = $trNew.find(':input:first').attr('name').match(/\d+/);
                //$trNew.find("td:last").html('<a href="#" class="remove">Remove</a>');
                $.each($trNew.find(':input'), function (i, val) {
                    // Replaced Name
                    var oldN = $(this).attr('name');
                    var newN = oldN.replace('[' + suffix + ']', '[' + (parseInt(suffix) + 1) + ']');
                    $(this).attr('name', newN);
                    //Replaced value
                    var type = $(this).attr('type');
                    if (type.toLowerCase() == "text") {
                        $(this).attr('value', '');
                    }

                    // If you have another Type then replace with default value
                    $(this).removeClass("input-validation-error");

                });
                $trLast.after($trNew);

                // Re-assign Validation
                var form = $("form")
                    .removeData("validator")
                    .removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse(form);
            });

            //// 2. Remove
            //$('a.remove').live("click", function (e) {
            //    e.preventDefault();
            //    $(this).parent().parent().remove();
            //});

        });
    </script>
}