@model IEnumerable<MyFood.Models.Order>
@{
    ViewBag.Title = "viewOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h3 class="font-KhebratMusamim green">الطلبات الواردة</h3>

<br />

<table class="table">
    <tr class="green-label">
        <th>
            @Html.DisplayName("رقم الطلب")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.event_date)
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr class="gold-label">
            <td>
                @Html.DisplayFor(modelItem => item.order_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.event_date)
            </td>
            <td>
                @Html.ActionLink("عرض الطلب", "orderDetails",null,
               new { id = item.order_id}, new { @class = "gold-link" })
            </td>
        </tr>
    }

</table>
