@model MyFood.Models.Neighborhood

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Neighborhood</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Direction.direction_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direction.direction_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Neighborhood_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Neighborhood_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Neighborhood_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
