@model MyFood.Models.Neighborhood

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>تعديل</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.Neighborhood_id)

        <div class="form-group">
            @Html.LabelFor(model => model.Neighborhood_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Neighborhood_name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Neighborhood_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.direction_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("direction_id", null, "اختر الجهة...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.direction_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="حفظ" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("العودة إلى القائمة", "Index")
</div>
