@model IEnumerable<MyFood.Models.Neighborhood>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>الأحياء</h2>

<p>
    @Html.ActionLink("إضافة حي جديد", "Create")
</p>

<table id="myTable" class="table" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Neighborhood_name)</th>
            <th>@Html.DisplayNameFor(model => model.direction_id)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Neighborhood_name)</td>
                <td> @Html.DisplayFor(modelItem => item.Direction.direction_name)</td>
                <td> @Html.ActionLink("تعديل", "Edit", new { id = item.Neighborhood_id }) </td>
            </tr>

        }
        </tbody>

</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Arabic.json"
                }}
                );
        });
    </script>
    }