@model IEnumerable<MyFood.Models.EmpRole>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>الصلاحيات</h2>

<p>
    @Html.ActionLink("إضافة صلاحية جديدة", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.role_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.note)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.role_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.note)
        </td>
        <td>
            @Html.ActionLink("تعديل", "Edit", new { id=item.role_id }) @*|
            @Html.ActionLink("تفاصيل", "Details", new { id=item.role_id }) |
            @Html.ActionLink("حذف", "Delete", new { id=item.role_id })*@
        </td>
    </tr>
}

</table>
