@model MyFood.Models.BenRegisterViewModel
@{
    ViewBag.Title = "BenRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />


@using (Html.BeginForm("BenRegister", "Account", FormMethod.Post, new { @class = "form-horizontal green-label form-bg-login", role = "form" }))
{
    <h3 class="green-h">التسجيل كمستفيد جديد في جمعية طعامي</h3>
    
    @Html.AntiForgeryToken()
    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.name, new { @class = "col-md-4 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.national_id, new { @class = "col-md-4 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.national_id, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.national_id, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-4 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Neighborhood_id, new { @class = "control-label col-md-4" })
        <div class="col-md-7">
            @Html.DropDownListFor(model => model.Neighborhood_id, new SelectList(Model.Neighborhood, "Neighborhood_id", "Neighborhood_name"), "اختر اسم الحيّ...", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Neighborhood_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
        <div class="col-md-7">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
        <div class="col-md-7">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.address, new { @class = "col-md-4 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(m => m.address, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(m => m.guardian, new { @class = "col-md-4 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(m => m.guardian, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.family_number, new { @class = "col-md-4 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(m => m.family_number, new { @class = "form-control" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-5 col-md-10 btn-loign">
            <input type="submit" class="btn-gold" value="تسجيل" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

