@model MyFood.Models.EmpRegisterViewModel

@{
    ViewBag.Title = "EmpRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

@using (Html.BeginForm("EmpRegister", "Account", FormMethod.Post, new { @class = "form-horizontal green-label form-bg-login", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h3 class="green-h">إضافة موظف جديد</h3>
    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.name, new { @class = "col-md-4 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.national_id, new { @class = "col-md-4 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.national_id, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.national_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber, new { @class = "col-md-4 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.UserRoles, new { @class = "col-md-4 control-label" })
        <div class="col-md-7">
            @Html.DropDownList("UserRoles", (SelectList)ViewBag.Name, " اختر الصلاحية...", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Team_id, new { @class = "col-md-4 control-label" })
        <div class="col-md-7">
            @Html.DropDownList("Team_id", (SelectList)ViewBag.TeamNumber, " اختر رقم الفريق...", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
        <div class="col-md-7">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
        <div class="col-md-7">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-5 col-md-10 btn-loign">
            <input type="submit" class="btn-gold" value="تسجيل" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

