@model MyFood.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<br />
<br />

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal green-label form-bg-login", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h3 class="green-h">إعادة تعيين كلمة المرور</h3>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    @Html.HiddenFor(model => model.Email)

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-10 btn-loign">
            <input type="submit" class="btn-gold" value="إعادة تعيين" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
