@model IEnumerable<MyFood.Models.UserRoleViewModel>

@{
    ViewBag.Title = "Users With Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
<h2 class="font-KhebratMusamim green">الموظفين</h2>
<br />
<p>
    @Html.ActionLink("إضافة موظف جديد", "EmpRegister",null, new { @class = "gold-link" })
</p>
<table class="table" id="UsersWithRoles">

    <tr class="green-label">
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>

        <th></th>
    </tr>

    @foreach (var user in Model)
    {
        <tr class="green-label">
            <td>
                @Html.DisplayFor(modelItem => user.Username )
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Role)
            </td>
            <td>
                @Html.ActionLink("تعديل", "EmpEdit",null, new { @class= "gold-link", id = user.UserId }) 
            </td>
        </tr>
    }

</table>





@section scripts{
    <script>

        $(function () {
            $('#UsersWithRoles').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
        });
    </script>
}  