@model IEnumerable<MyFood.Models.OrgType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>أنواع الجهات الحكومية والجهات الخاصة </h2>

<p>
    @Html.ActionLink("إضافة جهة جديدة", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.orgType_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.orgType_name)
        </td>
        <td>
            @Html.ActionLink("تعديل", "Edit", new { id=item.orgType_id }) @*|
            @Html.ActionLink("Details", "Details", new { id=item.orgType_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.orgType_id })*@
        </td>
    </tr>
}

</table>
